@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;400;700&display=swap");

/* -------------------------- */
/* ---------GENERAL---------- */
/* -------------------------- */

* {
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background: linear-gradient(to left, #151515 50%, #202020 100%);
}

main {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 350px);
  width: 1280px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: top;
  height: 50px;
  font-size: 25px;
  color: white;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  color: white;
  margin: 25px auto 50px auto;
}

a {
  text-decoration: none;
  color: black;
}

span {
  color: white;
}

.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #ee161e;
}

/* -------------------------- */
/* ---------HEADER----------- */
/* -------------------------- */

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #202020;
  border-bottom: 1px solid #393939;
}

.central-header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  width: 1280px;
  /* border: solid 1px green; */
}

.header-container > div:first-child {
  cursor: pointer;
}

.header-logo {
  height: 50px;
}

.header-side-menu {
  display: flex;
  justify-content: center;
  width: 400px;
  gap: 50px;
  /* border: solid 1px violet; */
}

.header-button {
  font-size: 15px;
  height: 50px;
  font-weight: 400;
  background-color: #202020;
  border: none;
  color: white;
  transition: all 0.1s;
  /* border: solid 1px violet; */
}

.header-button:hover {
  text-decoration: underline;
}

.button-favorites {
  background: linear-gradient(
    to left,
    #202020,
    rgba(238, 22, 30, 0.25),
    #202020
  );
  border-radius: 10px 5px 15px 5px;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  transition: all 0.1s;
}

.button-favorites:hover {
  transform: scale(1.05);
  text-decoration: none;
  background: linear-gradient(
    to left,
    #202020,
    rgba(238, 22, 30, 0.5),
    #202020
  );
}

/* -------------------------- */
/* - CHARACTERS/COMICS PAGE - */
/* -------------------------- */

/* ----- SEARCH AND NAV ----- */

.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  gap: 50px;
}

.search-container {
  display: flex;
  position: relative;
  flex-direction: column;
  /* border: solid 1px red; */
}

.search-input {
  width: 500px;
  padding-left: 35px;
  background-color: #f5f6f7;
  border-radius: 5px;
  height: 40px;
  border: none;
  outline: none;
}

.search-input-icon {
  position: absolute;
  left: 5px;
  top: 5px;
  color: lightgray;
  /* background-color: #ee161e; */
}

.search-input::placeholder {
  color: lightgray;
  font-size: 16px;
}

.search-input-icon {
  position: absolute;
  left: 7px;
  top: 12px;
  color: #bbbbbb;
}

/* ------- CARDS LIST ------- */

.cards-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 35px;
  /* border: solid 1px #ee161e; */
  justify-content: center;
}

.card {
  cursor: pointer;
  box-sizing: content-box;
  width: 220px;
  background: linear-gradient(
    to bottom,
    rgba(238, 22, 30, 0.25) 50%,
    #202020 100%
  );
  border: solid 2px rgba(238, 22, 30, 0.5);
  border-radius: 20px 5px 50px 5px;
  transition: all 0.2s;
}

.card:hover {
  transform: scale(1.02);
  background: linear-gradient(
    to left,
    rgba(238, 22, 30, 0.6) 50%,
    #202020 100%
  );
}

.name {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 17px;
}

.card-picture-details img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.description {
  height: 75px;
  color: white;
  font-weight: 100;
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 15px;
}

.favorite {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite button {
  padding: 7px;
  width: 150px;
  border-radius: 7.5px 2px 10px 2px;
  transition: all 0.2s;
}

.add-favorite {
  background-color: rgba(238, 22, 30, 0.25);
  color: white;
  border: none;
}

.add-favorite:hover {
  /* background-color: white;
  color: rgba(238, 22, 30, 1); */
  background-color: white;
  color: rgba(238, 22, 30, 1);
  /* border: solid 1px white; */
  transform: scale(1.1);
}

.remove-favorite {
  background-color: rgba(250, 250, 250, 0.85);
  color: rgba(238, 22, 30, 1);
  border: none 2px rgba(238, 22, 30, 1);
}

.remove-favorite:hover {
  background-color: rgba(250, 250, 250, 1);
  /* color: white;
  border: none; */
  transform: scale(1.1);
}

/* ---- PAGE SELECTION ---- */

.page-selection {
  display: flex;
  justify-content: center;
  margin: 50px;
  gap: 25px;
  /* border: solid 1px salmon; */
}

.page-selection-top-side {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.page-selection-button-container {
  direction: flex;
  width: 150px;
  /* border: solid 1px green; */
}

.page-selection-button {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.2s;
  border: none;
}

.next-page-button,
.previous-page-button {
  color: rgba(250, 250, 250, 1);
  background-color: rgba(238, 22, 30, 0.5);
}

.next-page-button:hover,
.previous-page-button:hover {
  color: rgba(250, 250, 250, 1);
  background-color: rgba(238, 22, 30, 0.75);
  transform: scale(1.1);
}

.last-page-button,
.first-page-button {
  background-color: rgba(250, 250, 250, 0);
  color: rgba(250, 250, 250, 1);
  /* border: solid 1px blue; */
}

.page-selection-bottom {
  margin: 50px 50px 0px 50px;
}

/* -------------------------- */
/* --- COMICS PAGE SPECIAL -- */
/* -------------------------- */

.comic-card {
  cursor: initial;
  box-sizing: content-box;
  width: 220px;
  background: linear-gradient(
    to top,
    rgba(211, 211, 211, 0.1) 50%,
    #202020 100%
  );
  border: solid 2px rgba(211, 211, 211, 0.2);
  border-radius: 5px 5px 5px 5px;
  transition: all 0.2s;
}

.comic-card:hover {
  transform: none;
  background: linear-gradient(
    to top,
    rgba(211, 211, 211, 0.1) 50%,
    #202020 100%
  );
}

/* -------------------------- */
/* --- COMICS PAGE SPECIAL -- */
/* -------------------------- */

.favorites-page-comics-title {
  margin-top: 50px;
}

/* --------------------- */
/* ------- FOOTER ------ */
/* --------------------- */

.footer-container {
  height: 150px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  /* background-color: #202020; */
  border-top: 1px solid #393939;
  margin-top: 100px;
  font-family: "Roboto Condensed", sans-serif;
  /* border: solid 1px purple; */
}

.central-footer-container {
  width: 1024px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 25px; */
}

.footer-container img {
  height: 40px;
  margin-right: 50px;
}

.footer-container a {
  font-weight: 700;
  color: white;
  text-decoration: underline;
}
